Source: golang-weekly
Section: devel
Priority: extra
Maintainer: Gustavo Niemeyer <niemeyer@canonical.com>
Build-Depends: debhelper (>= 7.0.50~), ed, bison
Standards-Version: 3.8.4
Homepage: http://golang.org

Package: golang-weekly
Architecture: any
Depends: ${misc:Depends}
Description: Go language compiler and tools (gc)
 The Go programming language is an open source project to make
 programmers more productive. Go is expressive, concise, clean,
 and efficient. Its concurrency mechanisms make it easy to write
 programs that get the most out of multicore and networked
 machines, while its novel type system enables flexible and
 modular program construction. Go compiles quickly to machine
 code yet has the convenience of garbage collection and the power
 of run-time reflection. It's a fast, statically typed, compiled
 language that feels like a dynamically typed, interpreted
 language.
