#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export GOROOT=$(CURDIR)
export GOROOT_FINAL=/usr/lib/go
export DISABLE_NET_TESTS=1

PKGDIR=debian/golang

clean:
	dh_clean
	[ ! -d .hg ] || /bin/bash -c "src/version.bash > VERSION"
	cd src && ./clean.bash
	cd debian/gorun && make clean
	rm -rf bin/ pkg/
	find src/pkg -maxdepth 1 -type d -name '[a-z]*.*' -exec rm -rf {} \;

binary-arch: clean
	dh_prep
	dh_installdirs
	mkdir -p $(PKGDIR)/usr/lib/go/src
	
	cp -r src/pkg src/cmd $(PKGDIR)/usr/lib/go/src
	cp -r misc doc $(PKGDIR)/usr/lib/go
	find src/ -maxdepth 1 -type f -exec cp {} $(PKGDIR)/usr/lib/go/src/ \;
	
	/bin/bash -c "cd src && ./all.bash"
	
	PATH=$(GOROOT)/bin:$(PATH) /bin/bash -c "cd debian/gorun && make install"
	test -f bin/gorun
	
	cp -r pkg lib $(PKGDIR)/usr/lib/go
	cp -r bin $(PKGDIR)/usr
	
	sed -i 's/GOROOT=.*/GOROOT=\/usr\/lib\/go/' $(PKGDIR)/usr/bin/gomake
	
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

%:
	dh $@ 
